.main-content{
    width: calc(100vw - 300px);
    float: left;
    background-color: #eeeeee;
  .main-head{
    height: 100px;
    background-color: white;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;
    position: relative;
    .main-header{
      padding-top: 35px;
      position: absolute;
      &__group{
        color: #333333;
        font-size: 20px;
      }
      &__member{
        margin-top: 15px;
        color: #999999;
        font-size: 12px;
        float: left;
      }
      &__name{
        margin-top: 15px;
        color: #999999;
        font-size: 12px;
        list-style: none;
        float: left;
        margin-left: 3px;
      }
    }
    .edit-btn{
      color: #38AEF0;
      position: absolute;
      right: 60px;
      top: 28px;
      padding: 10px 20px;
      border: solid 1px;
      cursor: pointer;
    }
  }
  .messages{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 0 40px;
    // position: relative;
    overflow: scroll;
    .message{
      margin-bottom: 30px;
      position: relative;
      padding-top: 40px;
      &__name{
        color: #434a54;
        font-size: 16px;
        font-weight: bold;
        float: left;
        // margin-bottom: 10px;
        // position: absolute;
      }
      &__date{
        color: #999999;
        font-size: 12px;
        margin-left: 10px;
        float: left;
        // position: absolute;
      }
      &__text{
        color: #434a54;
        font-size: 14px;
        // padding-top: 10px;
        clear: left;
        // position: absolute;
        // margin-bottom: 40px;
      }
    }
  }
  .form{
      &__message{
        height: 50px;
        width: calc(100% - 250px);
        margin: 20px 0 20px 40px;
        background-color: white;
        color: black;
        float:left;
        border:none;
        padding-left: 10px;
      }
        &__mask{
        height: 50px;
        background-color: white;
        padding-right: 20px;
        margin: 20px 0;
        float:left;
        .icon{
          color: black;
          width: 5%;
          line-height: 50px;
        }
        .hidden{
          display:none;
        }
      }
      &__submit{
        background-color: #38AEF0;
        color: white;
        text-align: center;
        height: 50px;
        padding: 0 30px;
        margin: 20px 0 20px 15px;
        float:left;
        border: none;
      }
  }
}
// .message:first-child{
//   padding-top: 46px;
// }
